@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(hero-bg.jpg);
}
.wrapper{
    width: 360px;
    height: 90vh;
    background-color:#261B4D;
    color: rgb(217, 211, 211);
    border-radius: 15px;
    box-shadow: 6px 6px 4px 2px rgb(6, 1, 41);
}
.wrapper h1{
    font-size: 25px;
    text-align: center;
    margin: 15px 0 60px 0;
    font-family: Anta;
}
.wrapper .input-box{
    width: 85%;
    height: 45px;
    margin: 40px 7%;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 15px;
    color: aliceblue;
    padding: 5px 8px;
    box-sizing: border-box;
}
i{
    position: absolute;
    right: 39%;
}
.bxs-user{
    top: 25%;
}
.bxs-lock-alt{
    top: 40%;
}
.remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 4% 4%;
}
.remeber-forgot input{
    accent-color: rgb(151, 145, 145);
    margin-right: 2px;
}
.remeber-forgot a{
    text-decoration: none;
    color: rgb(151, 145, 145);
}
.remeber-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 65px;
    height: 25px;
    margin:0 42%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(151, 145, 145);
}
.register{
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.register p{
    padding: 3px;
}
.register a{
    padding: 3px;
    color: rgb(151, 145, 145);
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}
