@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(hero-bg.jpg);
}
.wrapper{
    width: 360px;
    height: 90vh;
    background-color: #261b42;;
    color: rgb(217, 211, 211);
    border-radius: 15px;
}
.wrapper h1{
    font-size: 30px;
    text-align: center;
    margin: 55px 0 80px 0;
    font-family: Anta;
}
.wrapper .input-box{
    width: 95%;
    height: 45px;
    margin: 40px 5px;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 15px;
    color: aliceblue;
    padding: 5px 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
i{
    position: absolute;
    right: 38%;
}
.bxs-user{
    top: 36%;
}
.bxs-lock-alt{
    top: 51%;
}
.remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 4% 4%;
}
.remeber-forgot input{
    accent-color: #fff;
    margin-right: 2px;
}
.remeber-forgot a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.remeber-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 68px;
    height: 25px;
    margin:0% 40%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.register{
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.register p{
    padding: 3px;
}
.register a{
    padding: 3px;
    color: #fff;
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}


