/*Kanit Font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Josefin Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-heading-font: "Kanit", sans-serif;
    --secondary-heading-font: "Josefin Sans", sans-serif;
    --heading-color: white;
    --primary-bg-color: #0e0826;
}

/* default class style  */
body {
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
.primary-heading {
    font-family: var(--primary-heading-font);
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: var(--heading-color);
    z-index: 1;
}
.btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: skewX(-35deg);
    background-color: red;
    box-shadow: none;
    transition: all 0.2s linear;
}
.btn>h2 {
    font-family: var(--secondary-heading-font);
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    transform: skewX(35deg);
    color: var(--heading-color);
}
/* header style */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 13vh;
    background-color: var(--primary-bg-color);
}
.web-name-container {
    position: relative;
    width: 25vw;
    height: 100%;
}
.web-name-container::before {
    position: absolute;
    left: -30%;
    content: "";
    width: 20vw;
    height: 100%;
    background-color: red;
    transform: skew(45deg, 0deg);

}

.web-name-container>.primary-heading {
    position: absolute;
    left: 15%;
}

.navbar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navitem {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.navitem>a{
    display: block;
    font-family: var(--secondary-heading-font);
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: var(--heading-color);
    transition: all 0.2s linear;
}
.active-navitem {
    background-color: red;
    transform: skewX(-30deg);
}
.active-navitem-a {
    transform: skewX(30deg);
}
.user {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user>.btn {
    width: 35%;
    height: 40%;
}
.user>.btn:hover {
    width: 40%;
    height: 45%;
}
.user>.profile {
    display: flex;
    align-items: center;
    font-family: var(--secondary-heading-font);
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: white;
}

/* game container style  */
.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    background: url("/public/images/bg.jpg") no-repeat center center/cover;
}
.container>.welcome-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 100%;
}
.container>.welcome-text-container>.primary-heading::before {
    position: absolute;
    left: -20%;
    content: "";
    width: 120%;
    height: 80%;
    background-color: red;
    transform: skew(45deg, 0deg);
    cursor: pointer;
    z-index: -1;
    transition: all 0.2s linear;
}
.container>.welcome-text-container>.primary-heading {
    position: absolute;
    padding: 30px;
}
.container>.welcome-text-container>.primary-heading>span {
    color: var(--primary-bg-color);
}
.container>.game-card-container {
    width: 55%;
    height: 100%;
}

/* footer section style */
.footer {
    margin-top: 15%;
    border: 1px solid black;
    width: 100vw;
    height: 30vh;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer>.Foot-Logo{
    width: 17%;
    height: 90%;
    padding: 5px 0 0 10px;
}
.footer>.social-media-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 40%;
    background-color: red;
    transform: skewX(50deg);
}
.footer>.social-media-container>.social-media-handles {
    transform: skewX(-50deg);
}
.footer>p{
    color: aliceblue;
    align-self: flex-end;
}
.menu{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 90vh;
    margin: auto;
    background-color:#0e0826;
    border-radius: 15px;
}
.menu>.card{
    border: 2px solid white;
    width: 85%;
    height: 40%;
    margin:5% 10% 5% 0;
}
i>bx {
    width: 10px;
}
